In [50]:
from tabula import read_pdf
import pandas as pd




tabelas = read_pdf("Sistemas de Informação.pdf", pages='all')
print(len(tabelas))

1

In [51]:

#print(tabelas.columns)

In [55]:

tabela = tabelas[0].copy()

tabela.columns = tabela.iloc[0]

tabela = tabela[0:11].copy()  

tabela.columns = tabela.iloc[0]
tabela = tabela[1: ]


# Lista com os nomes desejados para as três primeiras colunas
nomes_colunas = ['Ano-Período', 'Ingressantes', 'Ativos']

# Atribuindo nomes às três primeiras colunas
tabela.columns = nomes_colunas + list(tabela.columns[3:])


tabela = tabela.set_index("Ano-Período")

# Convertendo colunas 'Ingressantes' e 'Ativos' para inteiros
#tabela['Ingressantes'] = tabela['Ingressantes'].astype(int)
#tabela['Ativos'] = tabela['Ativos'].astype(int)

pd.set_option('display.max_columns', None)

tabela1 = tabela

tabela.to_csv('Sistemas de Informação-Trancamentos.csv')

display(tabela1)

,Ingressantes,Ativos,2018.2,2019.1,2019.2,2020.1,2020.2,2021.1,2021.2,2022.1,2022.2,2023.1,2023.2,Total,NaN
Ano-Período,,,,,,,,,,,,,,,
2018.1,48,20,0,4.0,3.0,3.0,0.0,3.0,0.0,0.0,1.0,2.0,4.0,0,20.0
2018.2,3,0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,0,4.0
2019.1,49,37,NaN,NaN,0.0,7.0,2.0,1.0,0.0,0.0,2.0,3.0,1.0,0,16.0
2019.2,3,2,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0
2020.1,49,40,NaN,NaN,NaN,NaN,0.0,8.0,0.0,0.0,6.0,5.0,0.0,0,19.0
2021.1,32,21,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,3.0,0.0,2.0,0,5.0
2021.2,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0,0.0,0,1.0
2022.1,37,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,4.0,3.0,0,7.0
2022.2,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0,0.0
2023.1,44,44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,0.0

In [56]:
tabela = tabelas[0].copy()


tabela.columns = tabela.iloc[0]


tabela = tabela.iloc[1:]

tabela = tabela[11:22].copy()


tabela.columns = tabela.iloc[0]


tabela = tabela.iloc[1:]


nomes_colunas = ['Ano-Período', 'Ingressantes', 'Ativos']
tabela.columns = nomes_colunas + list(tabela.columns[3:])

tabela = tabela.set_index("Ano-Período")


pd.set_option('display.max_columns', None)

tabela2 = tabela

tabela.to_csv('Sistemas de Informação-Cancelamentos.csv')

display(tabela2)

,Ingressantes,Ativos,2018.2,2019.1,2019.2,2020.1,2020.2,2021.1,2021.2,2022.1,2022.2,2023.1,2023.2,Total,NaN
Ano-Período,,,,,,,,,,,,,,,
2018.1,48,20,1,4.0,5.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0,14.0
2018.2,3,0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0
2019.1,49,37,NaN,NaN,4.0,1.0,0.0,0.0,0.0,1.0,0.0,2.0,1.0,0,9.0
2019.2,3,2,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0
2020.1,49,40,NaN,NaN,NaN,NaN,2.0,3.0,1.0,2.0,0.0,0.0,1.0,0,9.0
2021.1,32,21,NaN,NaN,NaN,NaN,NaN,NaN,4.0,3.0,1.0,0.0,1.0,0,9.0
2021.2,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0,0.0
2022.1,37,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,0.0,0.0,0,4.0
2022.2,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0,0.0
2023.1,44,44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,0.0

In [57]:

tabela = tabelas[0].copy()

tabela.columns = tabela.iloc[0]

tabela = tabela[24:41].copy()  

tabela.columns = tabela.iloc[0]
tabela = tabela[1: ]


nomes_colunas = ['Ano-Período', 'Ingressantes', 'Ativos']


tabela.columns = nomes_colunas + list(tabela.columns[3:])


tabela = tabela.set_index("Ano-Período")

pd.set_option('display.max_columns', None)

tabela3 = tabela

tabela.to_csv('Sistemas de Informação-Integralizações.csv')

display(tabela3)

,Ingressantes,Ativos,2018.2,2019.1,2019.2,2020.1,2020.2,2021.1,2021.2,2022.1,2022.2,2023.1,2023.2,Total,NaN
Ano-Período,,,,,,,,,,,,,,,
2018.1,48,20,0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,6.0,0,10.0
2018.2,3,0,NaN,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0,1.0
2019.1,49,37,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0,2.0
2019.2,3,2,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0
2020.1,49,40,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0
2021.1,32,21,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0,0.0
2021.2,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0,0.0
2022.1,37,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0,0.0
2022.2,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0,0.0
2023.1,44,44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,0.0